# Object files
*.o
*.obj

# Libraries
*.a
*.lib

# Shared objects (Windows DLLs and Unix shared objects)
*.dll
*.so
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.gch
*.pch

# Code::Blocks specific files
*.layout
*.depend
*.cbp
*.workspace
*.private/

# Backup files
*~
*.bak

# Other files to ignore
*.sdf
*.opensdf
*.user
*.aps
*.ncb
*.suo
*.thumbs.db
.DS_Store

# Exclude all subdirectories named Debug or Release
Debug/
Release/

# Generated directories in Makefile
obj/
bin/

# KDevelop specific directories
.kdev4/
.build/

